/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: beige;
}

h1, h2, h3 {
  font-family: 'Courier New', Courier, monospace;
  color:rgb(255, 0, 212);
}

h3 {
  font-size: 30px;
}

.container {
  padding-top: 150px;
  width: 800px;
  margin:auto;
}

 .letters {
  display: flex;
  justify-content: space-between;
 }

 .letter {
  border: solid, 1px, grey;
  color: white;
  background-color: rgb(255, 0, 212);
  border-radius: 10px;
  box-shadow: 4px 4px 1px grey;
  padding: 20px;
 }

 .letter:hover {
  box-shadow: 4px 4px 1px rgb(28, 16, 116);
  color: rgb(28, 16, 116);
 }

 form {
  display: flex;
  justify-content: space-evenly;
  height: 50px;
}

.search-bar{
  flex-grow: 3;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  }

.button{
  flex-grow: 1;
  background-color: rgb(255, 0, 212);
  border-radius: 10px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

.button:hover {
  background-color: white;
  color: black;
}
